<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="../static/styles/email.css">
<div>
  <div>
    <div>
      <div>
        <table cellpadding="0" style="font-family:Arial">
          <tbody>
            <tr>
              <td>
                <div class="container">
                  <img src="../static/img/calendar.png" style="width:100px; height:100px"/>
                </div>
              </td>
              <td style="width:52%" class="aU4">
                <div>Event</div>
                <div>
                  <!-- LINK TO OATH TOKEN HERE -->
                  <a
                  href="https://www.gooogle-calendar.herokuapp.com" 
                  target="_blank"
                  style="font-size:12px">View on Google Calendar</a>
                </div>
                <br/>
                <table style="font-size:14px">
                  <tbody>
                    <tr>
                      <td style="font-size:12px; color: gray">When</td>
                      <td style="font-size:12px;">$date 2:30pm – 3:30pm (CDT)</td>
                    </tr>
                  </tbody>
                </table>
                <br/>
                <!-- CHANGE HREFS HERE -->
                <div class="btn-group">
                  <a href="#" id="yes"><button>Yes</button></a>
                  <a href="#" id="maybe"><button>Maybe</button></a>
                  <a href="#" id="no"><button>No</button></a>
                </div>
              </td>
              <td>
                <div style="font-size:16px">
                  <div>Agenda</div>
                  <div style="font-size:12px; color: gray">$date</div>
                  <br/>
                  <table style="font-size:12px; table-layout:auto">
                    <tbody>
                      <tr>
                        <td>2:30pm</td>
                        <td>This Event</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <span>
      <span>
        <div>
          <table cellspacing="0" cellpadding="8" border="0" summary="" style="width:100%;font-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff">
            <tbody>
              <tr>
                <td>
                  <div style="padding:2px">
                    <span>
                    </span>
                    <div style="float:right;font-weight:bold;font-size:13px">
                      <!-- LINK TO OAUTH HERE -->
                      <a href="https://www.gooogle-calendar.herokuapp.com" style="color:#20c;white-space:nowrap" target="_blank">more details »</a>
                      <br>
                    </div>
                    <h3 style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:16px;font-weight:bold;color:#222">
                      <span>event</span>
                    </h3>
                    <table cellpadding="0" cellspacing="0" border="0" summary="Event details">
                      <tbody>
                        <tr>
                          <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                            <div>
                              <i style="font-style:normal">When</i>
                            </div>
                          </td>
                          <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                            <time datetime="20180420T193000Z">
                            </time>
                            <time datetime="20180420T203000Z">
                            </time>$date 2:30pm – 3:30pm <span style="color:#888">Central Time</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                            <div>
                              <i style="font-style:normal">Calendar</i>
                            </div>
                          </td>
                          <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">$sender</td>
                        </tr>
                        <tr>
                          <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top">
                            <div>
                              <i style="font-style:normal">Who</i>
                            </div>
                          </td>
                          <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">
                            <table cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222">
                                    <span style="font-family:Courier New,monospace">•</span>
                                  </td>
                                  <td style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222">
                                    <div>
                                      <div style="margin:0 0 0.3em 0">
                                        <span>
                                          <span>
                                            <!-- CHANGE SENDER EMAIL  -->
                                            <a href="mailto:$sender_email" target="_blank">$sender_email</a>
                                          </span>
                                        </span>
                                        <span>
                                        </span>
                                        <span style="font-size:11px;color:#888"> - organizer</span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p style="color:#222;font-size:13px;margin:0">
                    <span style="color:#888">Going?&nbsp;&nbsp;&nbsp;</span>
                    <strong>
                      <!-- CHANGE HREFS HERE -->
                      <span>
                        <span>
                          <a href="https://www.gooogle-calendar.herokuapp.com" >Yes</a>
                        </span>
                      </span>
                      <span style="margin:0 0.4em;font-weight:normal"> - </span>
                      <span>
                        <span>
                          <a href="https://www.gooogle-calendar.herokuapp.com" >Maybe</a>
                        </span>
                      </span>
                      <span style="margin:0 0.4em;font-weight:normal"> - </span>
                      <span>
                        <span>
                          <a href="https://www.gooogle-calendar.herokuapp.com"  style="color:#20c;white-space:nowrap" target="_blank">No</a>
                        </span>
                      </span>
                      <!-- CHANGE HREF HERE -->
                    </strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.gooogle-calendar.herokuapp.com"  style="color:#20c;white-space:nowrap" target="_blank">more options »</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="background-color:#f6f6f6;color:#888;border-top:1px Solid #ccc;font-family:Arial,Sans-serif;font-size:11px">
                  <p>Invitation from <a href="https://www.google.com/calendar/" target="_blank">Google Calendar</a>
                  </p>
                  <!-- CHANE TO RECEIVER EMAIL -->
                  <p>You are receiving this email at the account <a href="mailto:$recipient_email" target="_blank">$recipient_email</a> because you are subscribed for invitations on calendar $sender.</p>
                  <p>To stop receiving these emails, please log in to <a href="https://www.google.com/calendar/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/&amp;source=gmail&amp;ust=1524338445093000&amp;usg=AFQjCNFcAcCjUr0e1uGW9soVXHsJ2doVQw">https://www.google.com/<wbr>calendar/</a> and change your notification settings for this calendar.</p>
                    <p>Forwarding this invitation could allow any recipient to modify your RSVP response. <a href="https://support.google.com/calendar/answer/37135#forwarding" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.google.com/calendar/answer/37135%23forwarding&amp;source=gmail&amp;ust=1524338445093000&amp;usg=AFQjCNGl33RldhLV8yYpg-D9tQRNfh2e8g">Learn More</a>.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </span>
      </span>
    </div>
  </div>
</html>
