<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Begin Phishing Process</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="col-sm-5">
            <form id="hack_form" method="post" action="hack" role="form">
                <div class="form-group">
                    <label for="sender_name">Sender Name</label>
                    <input name="sender_name" type="text" class="form-control" id="sender_name" placeholder="Enter sender name">
                </div>
                <div class="form-group">
                    <label for="sender_email">Sender Email address</label>
                    <input name="sender_email" type="email" class="form-control" id="sender_email" aria-describedby="emailHelp" placeholder="Enter sender email">
                </div>
                <div class="form-group">
                    <label for="recipient_email">Recipient Email address</label>
                    <input name="recipient_email" type="email" class="form-control" id="recipient_email" aria-describedby="emailHelp" placeholder="Enter recipient email">
                </div>

                <button type="submit" class="btn btn-primary">Let's Phish!</button>
            </form>
            </div>
        </div>
        

        <!-- Bootstrap core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

</html>
