<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-site-verification" content="bYdj1oWx-BZLcHnVSNjqmUdfxz4WZB7Ucs14LrS2hrQ" />

        <title>Google Calendar Phishing</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/viewer.css') }}">
    </head>
    <body>
		<div class="container">
			<div id="title">
				<h1><b>Google Calendar Phishing</b></h1>
				<br>
				<h3>by<br>Karthik B.<br>Gene H.<br>Rebekkah K.<br>Chase T.<br></h3>
			</div>
			<br>
			<h4>Welcome to our Ethical Hacking Final Project. Please note that this project is for EDUCATIONAL PURPOSES ONLY. We are using this site to show an OAuth 2.0 phishing exploit in a closed network of 7 dummy email accounts. Users should not attempt to use this project to exploit real people.</h4>
			<br>
			<br>
			<h4><a href="/hack">Send a phishing email</a></h4>
			<h4><a href="/user_viewer">View compromised users</a></h4>
		</div>

        <!-- Bootstrap core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

</html>
